.contenido {
    display: flex;
    flex-direction: column;
  }

  .tarjeta {
      width: 100%;
      margin: 1rem;
      padding: 1rem;
      height: auto;
      position: relative;
      background-color: lightgray;
      font-weight: bold;
      font-size: 20px;
 }


  .tarjeta i {
      position: relative;
      font-size: 1.5rem;
      justify-content: right;
      cursor: pointer;
      margin: 3px;
  }

  .tarjeta div{
    display: inline;
    margin-left: 40rem;
}
  
  .icon-option {
    width: 50px;
    height: 50px;
  }

.contenedor-añadir-tarjeta{
  display: flex;
  justify-content: center;
}
  .contenedor-añadir-tarjeta img{
    width: 75px;
    height: 75px;
  }

  .añadir-tarjeta{
    display: flex;
    justify-content: center;
    padding: .5rem;
    position: relative;
    margin: 3rem;
    justify-content: center;
    height: 10vh;
    width: 10vh;
    transition: all 0.2s;
  }

  .añadir-tarjeta:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
