.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tarjeta {
      width: 70rem;
      margin: 1rem;
      padding: 1rem;
      height: auto;
      position: relative;
      background-color: lightgray;
      font-weight: bold;
      font-size: 20px;
 }

.tarjeta .matricula{
  display: inline-block;
  width: 14rem;
}

.tarjeta .nombre{
  display: inline-block;
  width: 29rem;
}

.tarjeta .tipo{
  display: inline-block;
  width: 10rem;
}

.tarjeta i{
  cursor: pointer;
}


  .opciones-tarjeta{
    float: right;
}
  
  .icon-option {
    width: 60px;
    height: 50px;
  }

.contenedor-añadir-tarjeta{
  display: flex;
  justify-content: center;
}
  .contenedor-añadir-tarjeta img{
    width: 100px;
    height: 75px;
  }

  .añadir-tarjeta{
    display: flex;
    justify-content: center;
    padding: .5rem;
    position: relative;
    margin: 3rem;
    justify-content: center;
    height: 10vh;
    width: 10vh;
    transition: all 0.2s;
  }

  .añadir-tarjeta:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .floating-notification {
    display: inline-block;
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 2rem;
    transition: all .2s;
  }

  .floating-notification:hover {
    transform: rotate(-15deg);
    cursor: pointer;
  }