.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tarjeta {
      width: 70rem;
      margin: 1rem;
      padding: 1rem;
      height: auto;
      position: relative;
      background-color: lightgray;
      font-weight: bold;
      font-size: 20px;
 }

.tarjeta .matricula{
  display: inline-block;
  width: 14rem;
}

.tarjeta .nombre{
  display: inline-block;
  width: 29rem;
}

.tarjeta .tipo{
  display: inline-block;
  width: 10rem;
}

.tarjeta i{
  cursor: pointer;
}


.opciones-tarjeta{
    float: right;
}
  
.icon-option {
   width: 60px;
   /*height: 50px;*/
   height: auto;
}

.contenedor-a単adir-tarjeta{
  display: flex;
  justify-content: center;
}
  .contenedor-a単adir-tarjeta img{
    width: 100px;
    height: 75px;
  }

  .a単adir-tarjeta{
    display: flex;
    justify-content: center;
    padding: .5rem;
    position: relative;
    margin: 3rem;
    justify-content: center;
    height: 10vh;
    width: 10vh;
    transition: all 0.2s;
  }

  .a単adir-tarjeta:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .floating-notification {
    display: inline-block;
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 2rem;
    transition: all .2s;
  }

  .floating-notification:hover {
    transform: rotate(-15deg);
    cursor: pointer;
  }

  .overlay{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}

.popup{
    background: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
    padding: 1rem;
    border-radius: 3px;
    text-align: center;
  }

  .popup h3{
      margin-bottom: 10px;
  }
  .popup h4{
      margin-bottom: 20px;
  }

.popup .btn-cerrar-popup{
  font-size: 30px;
  line-height: 16px;
  display: flex;
  color: grey;
  text-decoration: none;
  transform: translateX(94%);
}

.popup .btn-cerrar-popup:hover{
  color: black;
}

.popup .btn-aceptar{
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  margin-right: 20px;
  border: none;
  color: black;
  /*background: rgba(240, 9, 9, 0.856);*/
  background-color: rgba(236, 97, 97, 0.86);
  cursor: pointer;
  border-radius: 3px;
}

.popup .btn-rechazar{
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 3px;
}

.popup .btn-aceptar:hover{
  background:rgba(240, 9, 9, 0.918) ;
}

.popup .btn-rechazar:hover{
  background:rgb(150, 147, 147) ;
}