.contenido {
    display: flex;
    flex-direction: column;
}

.container-fecha {
    display: inline-block;
    padding: 2rem;
    margin: 1rem;
}

.container-fecha .hora {
    font-weight: lighter;
}

.container-fecha .coche {
    margin-left: 5%;
    font-size: larger;
}

.container-fecha .precio {
    font-size: 20px;
}

.floating-notification {
    display: inline-block;
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 2rem;
    transition: all .2s;
  }

  .floating-notification:hover {
    transform: rotate(-15deg);
    cursor: pointer;
  }