.contenido {
    display: flex;
    flex-direction: column;
}

.container-fecha {
    display: inline-block;
    padding: 2rem;
    margin: 1rem;
}

.container-fecha .hora {
    font-weight: lighter;
}

.container-fecha .coche {
    margin-left: 5%;
    font-size: larger;
}

.container-fecha .precio {
    font-size: 20px;
}