
.pagoT{
  width: 100%;
  min-width: 500px;
  text-align:center;
  height: auto;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
}
.posTarjetas{
  padding-left: 2rem;
}
.añadirPago{
  width: 100%;
  min-width: 500px;
  text-align:center;
  padding-left: 3rem;
  height: auto;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
}
.icon-manual {
  width: 70px;
  height: 70px;
}

.container-fluid2{
  min-width: 500px;
}

.tarjetas {
  display: inline-block;
  margin: 1rem;
  padding: 2rem;
  height: auto;
  position: relative;
  background-color: rgb(245, 240, 240);
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}