
.pagoT{
  width: 100%;
  min-width: 500px;
  text-align:center;
  height: auto;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
}
.posTarjetas{
  padding-left: 2rem;
}
.añadirPago{
  width: 100%;
  min-width: 500px;
  text-align:center;
  padding-left: 3rem;
  height: auto;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
}
.icon-manual {
  width: 70px;
  height: 70px;
}

.container-fluid2{
  min-width: 500px;
}

.tarjetas {
  display: inline-block;
  margin: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  height: auto;
  position: relative;
  background-color: rgb(245, 240, 240);
}

#icono-add {
  cursor: pointer;
}